@import "common-blocks/button.scss";
@import "params.scss";

:host {
  width: 100%;
}

#file {
  visibility: hidden;
  width: 0;
  height: 0;
}

.file {
  display: flex;
  justify-content: space-around;

  &__path {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid $not-active-color;
    padding: 10px;
    border-radius: 6px;
  }
}
