<label for="file">
  <div class="file">
      <button class="button button--active button-icon button-icon--small button--rounded-border-10"
      [cacheSVG]="false"
      [inlineSVG]="'assets/images/icons/in-work-schema.svg'"
      (click)="input.click()"></button>
      <input id="file" #input type="file" (change)="inputChange()" accept=".dxf"/>
      <div #file class="file__path">{{input.value}}</div>
  </div>
</label>

<button class="button button--position-vertical button--main button--rounderd-border-5 button--bordered"
 (click)="uploadFile()">Загрузить</button>
