$font-family-default: "IBM Plex Sans", sans-serif;
$font-family-secondary: "Proxima Nova", sans-serif;

$main-button-icon-color: #1e5588;
$text-button-hover-color: #324a5e;
$background-color: #fff;
$active-color: #ff1a1a;
$not-active-color: #c7c7c7;
$main-text-color: #000;
$tool-left-and-right-indent: 1.3%;
$tool-top-indent: 2.5%;
$billing-color: #4fd264;
$negotiation-color: #ffa300;
$sent-color: #46b1ff;
