<div class="schema-type-panel">
  <button
    class="button button-icon button--rounded-border-10"
    [ngClass]="{ 'button--active': isImportActive, 'button--main': !isImportActive }"
    [cacheSVG]="false"
    [inlineSVG]="'assets/images/icons/in-work-schema.svg'"
    (click)="importToWorkSchema()"
  ></button>
  <div class="schema-type-panel-switch-container">
    <span
      class="schema-type-panel-title"
      [ngClass]="{
        'schema-type-panel-title--shema-inactive': isWorkSchemaActive
      }"
    >
      Рабочая схема
    </span>
    <button
      class="button button--main"
      [cacheSVG]="false"
      [inlineSVG]="iconPath"
      (click)="switchSchema()"
    ></button>
    <span
      class="schema-type-panel-title"
      [ngClass]="{
        'schema-type-panel-title--shema-inactive': !isWorkSchemaActive
      }"
    >
      Схема участника
    </span>
  </div>

  <button
    class="button button-icon button--rounded-border-10"
    [ngClass]="{ 'button--active': isExportActive, 'button--main': !isExportActive }"
    [cacheSVG]="false"
    [inlineSVG]="'assets/images/icons/out-work-schema.svg'"
    (click)="exportFromWorkSchema()"
  ></button>
</div>
