<div ngDraggable class="draggable draggable--autocad-layer">
  <ngx-smart-modal #modal [identifier]="modalName.AutoCADLayers" (onClose)="onClose()">
    <div class="dialog-content">
      <div class="card">
        <h2>Управление слоями СAD-файла</h2>
        <div class="card__item card__item--border-top">
          <div class="card__header">Дата</div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">
              Схема зала (стены, ограничения высоты, входы, люки, навеска,
              разрез)
            </div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.hallScheme.iconPath : iconPath"
              (click)="switch('hallScheme')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Классы площади</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.squareClass.iconPath : iconPath"
              (click)="switch('squareClass')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Текстовая информация о зале</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.textInfo.iconPath : iconPath"
              (click)="switch('textInfo')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Площадь 1-го этажа</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.squareFirst.iconPath : iconPath"
              (click)="switch('squareFirst')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Площадь 2-го этажа</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.squareSecond.iconPath : iconPath"
              (click)="switch('squareSecond')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Высота потолка</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.ceilingHeight.iconPath : iconPath"
              (click)="switch('ceilingHeight')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Контуры площадей</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.outline.iconPath : iconPath"
              (click)="switch('outline')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">Базовые планировки</div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.baseLayout.iconPath : iconPath"
              (click)="switch('baseLayout')"
            ></button>
          </div>
          <div class="card__item card__item--space-between">
            <div class="card__text-15">
              Текущая инженерная планировка стендов
            </div>
            <button
              class="button simple button-toggler"
              [cacheSVG]="false"
              [inlineSVG]="layers ? layers.currentLayout.iconPath : iconPath"
              (click)="switch('currentLayout')"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ngx-smart-modal>
</div>
