@import "params.scss";

.pavilion-panel {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  top: $tool-top-indent;
  left: $tool-left-and-right-indent;

  &.inactive {
    display: none;
  }
}
