@import "params.scss";
@import "common-blocks/dialog.scss";
@import "common-blocks/button.scss";

:host ::ng-deep .nsm-content {
  width: 360px;
}

:host ::ng-deep .nsm-dialog {
  right: 214px;
}

.card {
  &__header {
    font-size: 10px;
    line-height: 12px;
  }
}

.billing {
  ::ng-deep svg > * {
    fill: $billing-color;
  }
}

.negotiation {
  ::ng-deep svg > * {
    fill: $negotiation-color;
  }
}

.sent {
  ::ng-deep svg > * {
    fill: $sent-color;
  }
}

.reserve {
  ::ng-deep svg > * {
    fill: $main-text-color;
  }
}

.draggable {
  &--layers {
    position: absolute;
    top: 0;
    right: 89%;
  }
}
