@import "common-blocks/dialog.scss";
@import "common-blocks/button.scss";

:host ::ng-deep .nsm-content {
  width: 360px;
  max-height: calc(100vh - 200px);
  overflow: auto;
}

:host::ng-deep .nsm-dialog {
  left: 0;
}
