@import "common-blocks/button.scss";

.search-panel {
  top: 20%;
  left: $tool-left-and-right-indent;
  width: 50px;
  justify-content: space-between;
  position: absolute;
  height: 200px;
}
