@import 'common-blocks/dialog.scss';
@import 'common-blocks/button.scss';
@import 'common-blocks/form.scss';

:host ::ng-deep .nsm-content {
  width: 360px;
}

.draggable {
  &--create-stand {
    position: absolute;
    top: 0;
    right: 77%;
  }
}
