@import "params.scss";
@import "mixins.scss";

.button {
  @include font-base;

  outline: none;
  cursor: pointer;
  border: none;

  &-icon {
    width: 48px;
    height: 48px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    &--middle {
      width: 43px;
      height: 43px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    &--small {
      width: 38px;
      border: 1px solid rgba(0, 0, 0, 0.22);
      padding: 0;
    }

    &--rounded {
      border-radius: 50%;
    }
  }

  &-toggler {
    border: none;
    outline: none;
    background: none;
  }

  &--active {
    ::ng-deep svg path {
      fill: $background-color;
    }

    background-color: $active-color;
  }

  &--rounded-border {
    &-2 {
      border-radius: 2px;
    }

    &-5 {
      border-radius: 5px;
    }

    &-10 {
      border-radius: 10px;
    }

    &-25 {
      border-radius: 25px;
    }
  }

  &--bordered {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &--main {
    color: $main-text-color;
    background-color: $background-color;
    padding: 10px;
  }

  &--position-vertical {
    margin-top: 26px;
  }
}
